.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  width: 62%;
  text-align: left;
}

.no-result {
  text-align: center;
  color: red;
  font-weight: 200;
}

.errorPrompt {
  color: red;
  font-weight: 200;
}
